<!doctype html>
<html lang="en">

<head>
    <title>Madini-Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static 'css/aos.css' %}">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>


    <div class="site-wrap">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar light js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-xl-2">
                        <div class="mb-0 site-logo"><a href="{% url 'index' %}" class="mb-0">Madini portal<span class="text-primary">.</span> </a></div>
                    </div>

                    <div class="col-12 col-md-10 d-none d-xl-block">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="{% url 'index' %}" class="nav-link">Home</a></li>
                                <li class="has-children">
                                    <a href="{% url 'services' %}" class="active nav-link">Services</a>
                                    <ul class="dropdown">
                                        <li><a href="#" class="nav-link">Administration</a></li>
                                        <li><a href="#" class="nav-link">Application</a></li>
                                        <li><a href="#" class="nav-link">Indective price</a></li>
                                        <li class="has-children">
                                            <ul class="dropdown">
                                                <li><a href="#">Menu One</a></li>
                                                <li><a href="#">Menu Two</a></li>
                                                <li><a href="#">Menu Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'administration' %}" class="nav-link">Administrations</a></li>
                                <li><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
                                <li><a href="{% url 'about' %}" class="nav-link">About</a></li>
                                <li><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-facebook"></span></a></li>
                                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-twitter"></span></a></li>
                                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-linkedin"></span></a></li>
                                <li class="social"><a href="#contact-section" class="nav-link"><span class="icon-instagram"></span></a></li>
                                <li><a href="{% url 'login' %}" class="nav-link">Signin</a></li>
                            </ul>
                        </nav>
                    </div>

                    <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3 text-white"></span></a></div>

                </div>
            </div>

        </header>

        <!-- MAIN -->
        <div class="slide-item overlay" style="background-image: url('{% static 'images/clan_1.jpg' %}')">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-6 align-self-center">
                        <h1 class="heading mb-3">Our Services</h1>
                        <p class="lead text-white mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum totam alias iusto?</p>
                        <p><a href="#" class="btn btn-primary">Get In Touch</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service">
                            <a href="#" class="d-block"><img src="{% static 'images/pink_1.jpg' %}" alt="Image" class="img-fluid"></a>
                            <div class="service-inner">
                                <h3>Special Care</h3>
                                <p>Lorem ipsum dolor sit amet elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service">
                            <a href="#" class="d-block"><img src="{% static 'images/blue_1.jpg' %}" alt="Image" class="img-fluid"></a>
                            <div class="service-inner">
                                <h3>Special Care</h3>
                                <p>Lorem ipsum dolor sit amet elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service">
                            <a href="#" class="d-block"><img src="{% static 'images/red_1.jpg' %}" alt="Image" class="img-fluid"></a>
                            <div class="service-inner">
                                <h3>Special Care</h3>
                                <p>Lorem ipsum dolor sit amet elit.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="service">
                            <a href="#" class="d-block"><img src="{% static 'images/black_1.jpg' %}" alt="Image" class="img-fluid"></a>
                            <div class="service-inner">
                                <h3>Special Care</h3>
                                <p>Lorem ipsum dolor sit amet elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="feature-v1">
            <div class="d-md-flex align-items-center">
                <div class="d-flex pagination-item h-100">
                    <span class="icon-wrap">
                        <img src="{% static 'images/svg/svg/001-elderly.svg' %}" alt="Image" class="img-fluid">
                    </span>
                    <div>
                        <span class="subheading">Try Our Services</span>
                        <h3 class="heading">Independent Living For Senior Couples</h3>
                        <a href="#" class="small">Learn More</a>
                    </div>
                </div>
                <div class="d-flex pagination-item h-100">
                    <span class="icon-wrap">
                        <img src="{% static 'images/svg/svg/002-elderly-1.svg' %}" alt="Image" class="img-fluid">
                    </span>
                    <div>
                        <span class="subheading">Try Our Services</span>
                        <h3 class="heading">Assisted Living For Senior Couples</h3>
                        <a href="#" class="small">Learn More</a>
                    </div>
                </div>
                <div class="d-flex pagination-item h-100">
                    <span class="icon-wrap">
                        <img src="{% static 'images/svg/svg/003-woman.svg' %}" alt="Image" class="img-fluid">
                    </span>
                    <div>
                        <span class="subheading">Try Our Services</span>
                        <h3 class="heading">Respite Care For Senior Couples</h3>
                        <a href="#" class="small">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <footer class="site-footer bg-primary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="widget">
                            <h3>About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, commodi.</p>
                            <p><a href="{% url 'about' %}" class="btn btn-primary">Read More</a></p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <h3>Company</h3>
                            <ul class="list-unstyled links">
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li><a href="{% url 'blog' %}">Blog</a></li>
                                <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                <li><a href="{% url 'administration' %}">Administration</a></li>
                                <li><a href="{% url 'index' %}">Home</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget">
                            <h3>Contact</h3>
                            <ul class="list-unstyled links">
                                <li><a href="tel://11234567890">+1 123 456 7890</a></li>
                                <li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script defer async>
        document.addEventListener('DOMContentLoaded', function() {
          // setting global variables
          window.botId = 4320
          
          // create div with id = sarufi-chatbox
          const div = document.createElement("div")
          div.id = "sarufi-chatbox"
          document.body.appendChild(div)
      
          // create and attach script tag
          const script = document.createElement("script")
          script.crossOrigin = true
          script.type = "module"
          script.src = "https://cdn.jsdelivr.net/gh/flexcodelabs/sarufi-chatbox/example/vanilla-js/script.js"
          document.head.appendChild(script)
      
          // create and attach css
          const style = document.createElement("link")
          style.crossOrigin = true
          style.rel = "stylesheet"
          style.href = "https://cdn.jsdelivr.net/gh/flexcodelabs/sarufi-chatbox/example/vanilla-js/style.css"
          document.head.appendChild(style)
        });
      </script>

</body>

</html>
